@charset "ISO-8859-1";

#mainframe{
	width : 800px;
	margin: auto;
}

#top{
	width : 100%;
	vertical-align : center;
	align-content:center;
	height: 50px;
	z-index: 100;
	top:0;
	background-color: #DF0101;
	margin : auto;
	
}

#content{
	
}

#bottom{
	
	
}